<% error = @product_store.errors.include?(:product_collection_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :product_collection_id, :class => 'control-label' %>
  <div class='controls'>
    <%=f.select(:product_collection_id,:collection=>ProductCollection.all,:fields=>[:product,:id],:class => 'form-control input-xlarge input-with-feedback', :autofocus => true)%>
    <span class='help-inline'><%= error ? f.error_message_on(:product_collection_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @product_store.errors.include?(:store_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :store_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select(:store_id,:collection=>Store.all,:fields=>[:name,:id], :class => 'form-control input-xlarge input-with-feedback') %>
    <span class='help-inline'><%= error ? f.error_message_on(:store_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @product_store.errors.include?(:amount) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :amount, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :amount, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:amount) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:product_stores, :index), :class => 'btn btn-default' %>
</div>
