<% error = @lang_dict.errors.include?(:lang_cate_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :字典类别, :class => 'control-label' %>
  <div class='controls'>
      <%= f.select(:lang_cate_id, :collection => LangCate.all, :fields => [:name, :id], :class => 'form-control input-xlarge input-with-feedback', :autofocus => true) %>
  </div>
</fieldset>
<% error = @lang_dict.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :词条, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</fieldset>
<% error = @lang_dict.errors.include?(:translation) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :翻译, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :translation, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:lang_dicts, :index), :class => 'btn btn-default' %>
</div>