<% error = @post.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :分享者, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
  
  </div>
</fieldset>
<% error = @post.errors.include?(:order_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :订单号, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :order_id, :class => 'form-control input-xlarge input-with-feedback' %>
   
  </div>
</fieldset>
<% error = @post.errors.include?(:product_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :商品号, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :product_id, :class => 'form-control input-xlarge input-with-feedback' %>
  
  </div>
</fieldset>
<% error = @post.errors.include?(:image_item_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :图片号, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :image_item_id, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>
<% error = @post.errors.include?(:content) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :自定义内容, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :content, :class => 'form-control input-xlarge input-with-feedback' %>
  
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:posts, :index), :class => 'btn btn-default' %>
</div>