<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<%=stylesheet_link_tag "bestcourier/add_order"%>
		  <%=stylesheet_link_tag "bestcourier/base"%>
		<title></title>
	</head>
	<body>
		<div class="table">
			<%form_tag :create_order do%>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th><h3>添加演示订单</h3></th>
					<th>正常订单应由客户下单产生</th>
					<th>日期：<%=Time.now.strftime('%Y-%m-%d')%> 当前时间<%=Time.now.strftime('%H:%M:%S')%></th>
				</tr>
				<tr>
					<td><h2>客户</h2></td>
					<td>
						<%=select_tag 'customer_node',:collection=>Node.all,:fields=>[:name,:id],:width=>'50px'%>
					</td>
					<td>
						正常情况下此区域通过客户<font>默认配送地址</font>自动认定无须输入
					</td>
				</tr>
				<tr>
					<td><h2>供应商</h2></td>
					<td>
						<%=select_tag 'store_id',:collection=>Store.all,:fields=>[:name,:id],:width=>'50px',id:'canku'%>
					</td>
					<td>
						正常情况下此区域通过<font>供应商认证地址自动认</font>定无须输入
					</td>
				</tr>
			</table>
			<%= hidden_field_tag :account_id, value:'54d4811d4c31dcac76000001' %>
			<%=submit_tag '确认添加',url_for(:bestcourier,:create_order),:class=>"button"%>
		
			<%end%>
		</div>
	</body>
</html>
