<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<%=stylesheet_link_tag "bestcourier/order_flow"%>
		  <%=stylesheet_link_tag "bestcourier/base"%>
		<title></title>
		<%= javascript_include_tag 'jquery-1.8.2.min' %>
		<script type="text/javascript">
		function complete_process(value){
			
			$.get("complete_process",{process:value,order_id:'<%=@order._id%>'},function(obj){
				
				if (obj==true){
					
					window.location.href="/bestcourier/order_info?order_id=<%=@order._id%>";
				}
			},'json')
		}
		$(function(){
				//蓝色字
			    $(".date").each(function(){
			    	var st = $(this).html().substr(0,8);
				var four = $(this).html().substr(8,12);
			    var str ='<font class="blue">'+four+'</font>';
			    var com = st+str;
			    $(this).html(com);
			    })
			    //图片
			    $(".hook").each(function(){
			    	  var hook= $(this).parent().attr('class');
			    	 if(hook){
			    	 	$('.tic'+hook).hide();
			    	 }else{
			    	 	$('.tic'+hook).show();
			    	 }
			    })
			})
		
		</script>
	</head>
	<body>
		<div class="table" style="margin-top: 40px;border: 1px solid #999999;border-radius: 5px;">
			<ul>
				<li><%=@order.number%>的配送流程</li>
				<li><%=Time.now.strftime('%Y-%m-%d %H:%M:%S')%></li>
			</ul>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th>配送员</th>
					<th>始发</th>
					<th>接单时间</th>
					<th>供应商确认</th>
					<th><font class="red"><%=Node.find(@order.firstnode).number%></font>到<font class="red"><%=@order.store.node.number%></font>区取件<%=image_tag 'bestcourier/u99.png', :width=>'20px',:height=>'20px'%></th>
					<th>验货付款</th>
					<th><font class="red"><%=@order.store.node.number%></font>区到<font class="red"><%=@order.node.number%></font>区派件<%=image_tag 'bestcourier/u99.png', :width=>'20px',:height=>'20px'%></th>
					<th>验货收款</th>
					<th>预计结束</th>
				</tr>
				<tr>
					<td><%=@order.employee.name%></td>
					<td><%=Node.find(@order.firstnode).name%>（始发点）<font class="blue"><%=Order.get_start_time(@order._id).strftime('%H%M')%></font></font></td>
					<td><span class="date"><%=@order.created_at.strftime('%Y%m%d%H%M')%></span></td>
					<td class="1"><font class="red">+<%=@setting.store_time%>分</font><%if Order.get_now_process(1,@order._id)%><%=image_tag 'bestcourier/u555.jpg', :width=>'20px',:height=>'20px',:class=>'hook'%><%end%></td>
					<td class="2"><font class="red">+<%=NodeWay.where(node_id:@order.firstnode,tonode:@order.store.node._id).first.time%>分</font><%if Order.get_now_process(2,@order._id)%><%=image_tag 'bestcourier/u555.jpg', :width=>'20px',:height=>'20px',:class=>'hook'%><%end%></td>
					<td class="3"><font class="red">+<%=@setting.store_vali_time%>分</font><%if Order.get_now_process(3,@order._id)%><%=image_tag 'bestcourier/u555.jpg', :width=>'20px',:height=>'20px',:class=>'hook'%><%end%></td>
					<td class="4"><font class="red">+<%=NodeWay.where(node_id:@order.store.node._id,tonode:@order.node._id).first.time%>分</font><%if Order.get_now_process(4,@order._id)%><%=image_tag 'bestcourier/u555.jpg', :width=>'20px',:height=>'20px',:class=>'hook'%><%end%></td>
					<td class="5"><font class="red">+<%=@setting.customer_vali_time%>分</font><%if Order.get_now_process(5,@order._id)%><%=image_tag 'bestcourier/u555.jpg', :width=>'20px',:height=>'20px',:class=>'hook'%><%end%></td>
					<%if @order.order_time%>
					
					<td><span class="date"><%=(@order.created_at+@order.usetime.minute+@order.order_time.time_diff.minute).strftime("%Y%m%d%H%M")%></span></td>
					<%else%>
					<td><span class="date"><%=(@order.created_at+@order.usetime.minute).strftime("%Y%m%d%H%M")%></span></td>
					<%end%>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><button class="buntton_2 tic1" onclick="complete_process('1')">完成</button></td>
					<td><button class="buntton_2 tic2" onclick="complete_process('2')">完成</button></td>
					<td><button class="buntton_2 tic3" onclick="complete_process('3')">完成</button></td>
					<td><button class="buntton_2 tic4" onclick="complete_process('4')">完成</button></td>
					<td><button class="buntton_2 tic5" onclick="complete_process('5')">完成</button></td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
	</body>
</html>


