<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<%=stylesheet_link_tag "bestcourier/order_flow"%>
		  <%=stylesheet_link_tag "bestcourier/base"%>
		<title></title>
	</head>
	<body>
		<div class="table" style="margin-top: 40px;border: 1px solid #999999;border-radius: 5px;">
			<ul>
				<li><%=@courier.name%>的配送流程</li>
				<li><%=Time.now%></li>
			</ul>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th>订单</th>
					<th>预计开始</th>
					<th>+取件时间</th>
					<th>+派件时间</th>
					<th>+等待时间</th>
					<th>预计结束</th>
					<th>实际结束</th>
				</tr>
				<%@orders.each do |order|%>
				<tr>
					<td><%=order.number%></td>
					<td><%=Order.get_start_time(order._id)%></td>
					<td><%=order.store.node.name%>取件<font class="red">+<%=NodeWay.where(node_id:order.firstnode,tonode:order.store.node._id).first.time%>分</font></td>
					<td><%=order.node.name%>派件<font class="red">+<%=NodeWay.where(node_id:order.store.node._id,tonode:order.node._id).first.time%>分</font></td>
					<td><font class="red">+<%=Setting.alltime%>分</font></td>
					<td><%=order.created_at+order.usetime.minute+10.minute%></td>
					<td><%=order.created_at+order.usetime.minute+20.minute%><font class="green">（+10）</font></td>
				</tr>
				<%end%>
				
			</table>
		</div>
	</body>
</html>