<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	
		  <%=stylesheet_link_tag "bestcourier/set_staff"%>
		  <%=stylesheet_link_tag "bestcourier/base"%>
		<title></title>
	</head>
	<body>
		<div class="table">
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<th>工号</th>
					<th>姓名</th>
					<th>电话</th>
					<th>始发</th>
					<th>最后位置</th>
					<th>下一位置</th>
					<th>货在手</th>
					<th>钱在手</th>
					<th>状态</th>
				</tr>
				<%@couriers.each do |courier|%>
				<tr>
					<td><%=courier.number%></td>
					<td><%=courier.name%></td>
					<td><%=courier.phone%></td>
					<%if courier.isfree%>
					<td><%=courier.account.node.name%></td>
					<td><%=courier.account.node.name%></td>
					<td><%=courier.account.node.name%></td>
					<%else%>
					<td><%=Node.find(courier.orders.where(isnow:true).first.firstnode).name%></td>
					<td><%=Order.get_now_node(courier.orders.where(isnow:true).first._id)[0]%></td>
					<td><%=Order.get_now_node(courier.orders.where(isnow:true).first._id)[1]%></td>
					<%end%>
					<td><%=courier.goods%>件</td>
					<td>￥<%=courier.money%></td>
					<td><img src="<%=image_path 'bestcourier/u450.png'%>" width="40" height="20"/></td>
				</tr>
				<%end%>
				
			</table>
		</div>
	</body>
</html>