<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		 <%=stylesheet_link_tag "bestcourier/set_space"%>
		  <%=stylesheet_link_tag "bestcourier/base"%>

		<title></title>
	</head>
	<body>
		<div class="table">
		<%@nodes.each do |node|%>
			<dl>
				<dd>
					<button class="set_num">(<%=node.number%>)<%=node.name%></button>
				</dd>
				<dd>
					<table border="0" cellspacing="0" cellpadding="0" width="100%">
					  
						<tr>
						<%Node.get_node_way(node._id).each do |node_way|%>
							<th><button><%=Node.find(node_way.tonode).number%></button></th>
						<%end%>	
						</tr>
						<tr>
						<%Node.get_node_way(node._id).each do |node_way|%>
							<td><button><%=node_way.time%>分</button></td>
							<%end%>
						</tr>
						<tr>
						<%Node.get_node_way(node._id).each do |node_way|%>
							<td><button><%=node_way.fee%></button></td>
							<%end%>
							
						</tr>
					</table>
				</dd>
			</dl>
			<%end%>
			
		</div>
	</body>
</html>