<% error = @store.errors.include?(:website_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :website_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :website_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:website_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:state_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :state_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :state_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:state_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:node_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :node_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :node_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:node_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:store_address_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :store_address_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :store_address_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:store_address_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:in_charge) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :in_charge, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :in_charge, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:in_charge) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:open_time_begin_day) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :open_time_begin_day, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :open_time_begin_day, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:open_time_begin_day) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:open_time_end_day) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :open_time_end_day, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :open_time_end_day, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:open_time_end_day) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:open_time_in_one_week) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :open_time_in_one_week, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :open_time_in_one_week, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:open_time_in_one_week) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:credit_url) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :credit_url, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :credit_url, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:credit_url) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @store.errors.include?(:end_date) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :end_date, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :end_date, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:end_date) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:stores, :index), :class => 'btn btn-default' %>
</div>