<div data-role="fieldcontain">
  	<label for="user">登陆名：</label>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true,:id => 'user' %>
  	<p class="user"></p>
    <label for="tel">手机号：</label>
    <%= f.text_field :mobile, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true ,:id => 'tel' %></p>
    
    <p class="tel"></p>
      <label for="email">邮箱：</label>
    <%= f.email_field :email, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true ,:id => 'email' %>
     <p class="email"></p>
    <label for="pwd">登陆密码：</label>
    <%= f.password_field :password, :class => 'form-control input-xlarge input-with-feedback', :id => 'pwd' %>
    <p class="pwd"></p>
    <label for="apwd">确认密码：</label>
   <%= f.password_field :password_confirmation, :class => 'form-control input-xlarge input-with-feedback' , :id => 'apwd' %>
    <p class="apwd"></p>
 	</div>

  <fieldset data-role="controlgroup">
      <%= radio_button_tag :role,  :value => 'provider', :id => 'radio-choice-1'  %>
        <label for="radio-choice-1">供应商-上传商品有人帮你卖 </label>
      <%= radio_button_tag :role,  :value => 'agency', :id => 'radio-choice-2'  %>
        <label for="radio-choice-2">代理商-加盟速达易配送网</label>
  </fieldset>