<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<%= javascript_include_tag 'jquery'%>
<%= javascript_include_tag 'jquery.mobile-1.3.2'%>
<%= javascript_include_tag 'public'%>
<style type="text/css">
	p{color:red;}
</style>
</head>
<body>
<div data-role="page">
  <div data-role="header" data-theme="b">
  <h1>速达易</h1>
  </div>
<%= javascript_include_tag 'rule'%>

  <div data-role="content">
      <% form_for :account, :class => 'form-horizontal' do |f| %>
    <%= partial 'mobile_reg/form', :locals => { :f => f } %>
 <% end %>

 	<input type="button" value="注册" id="finish">
 	
 	 <div class="button" style="text-align:center;">
 	 	<input type="button" value="其他方式注册"  data-theme="d"  data-ajax="false" >
 	 </div>
  	</div>
  	

  <div data-role="footer" data-theme="b" data-position="fixed">
     <div data-role="navbar">
	      <ul>
	        <li><a href="mobile_login" data-icon="arrow-l">返回</a></li>
	        <li><a href="#" data-icon="info">帮助</a></li>
	      </ul>
    </div>
  </div>
</div> 
</body>
</html>