<% error = @employee.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select( :account_id,:collection=>Account.all,:fields=>[:mobile,:id], :class => 'form-control input-xlarge input-with-feedback', :autofocus => true) %>
    <span class='help-inline'><%= error ? f.error_message_on(:account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @employee.errors.include?(:emp) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :emp, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select( :emp,:collection=>Account.all,:fields=>[:mobile,:id], :class => 'form-control input-xlarge input-with-feedback')  %>
    <span class='help-inline'><%= error ? f.error_message_on(:emp) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @employee.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @employee.errors.include?(:phone) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :phone, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :phone, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:phone) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @employee.errors.include?(:isfree) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :isfree, :class => 'control-label' %>
  <div class='controls'>
    <%= f.check_box :isfree, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:isfree) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @employee.errors.include?(:whenfree) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :whenfree, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :whenfree, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:whenfree) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @employee.errors.include?(:number) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :number, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :number, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:number) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @employee.errors.include?(:money) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :money, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :money, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:money) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @employee.errors.include?(:goods) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :goods, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :goods, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:goods) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:employees, :index), :class => 'btn btn-default' %>
</div>