<% error = @account.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :用户名, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
  
  </div>
</fieldset>
<% error = @account.errors.include?(:surname) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :昵称, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :surname, :class => 'form-control input-xlarge input-with-feedback' %>
   
  </div>
</fieldset>
<% error = @account.errors.include?(:email) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :邮箱, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :email, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>
<% error = @account.errors.include?(:password) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :密码, :class => 'control-label' %>
  <div class='controls'>
    <%= f.password_field :password, :class => 'form-control input-xlarge input-with-feedback' %>
   
  </div>
</fieldset>
<% error = @account.errors.include?(:password_confirmation) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :密码确认, :class => 'control-label' %>
  <div class='controls'>
    <%= f.password_field :password_confirmation, :class => 'form-control input-xlarge input-with-feedback' %>
   
  </div>
</fieldset>
<% error = @account.errors.include?(:role) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :角色, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :role, :class => 'form-control input-xlarge input-with-feedback' %>

  </div>
</fieldset>
<% error = @account.errors.include?(:role) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :手机, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :mobile, :class => 'form-control input-xlarge input-with-feedback' %>

  </div>
</fieldset>
<% error = @account.errors.include?(:role) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :是否是管理员, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :admin, :class => 'form-control input-xlarge input-with-feedback' %>

  </div>
</fieldset>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :证件上传, :class => 'control-label' %>
  <div class='controls'>
    <%= f.file_field :credit_url, :class => 'form-control input-xlarge input-with-feedback' %>

  </div>
</fieldset>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :所属区, :class => 'control-label' %>
  <div class='controls'>
    <%= f.select(:node_id,:collection=>Node.all,:fields=>[:name,:id], :class => 'form-control input-xlarge input-with-feedback' ,:autofocus => true) %>

  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:accounts, :index), :class => 'btn btn-default' %>
</div>