<% error = @massage.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :发送用户, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    
  </div>
</fieldset>
<% error = @massage.errors.include?(:toaccount) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :接受用户, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :toaccount, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>
<% error = @massage.errors.include?(:isready) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :是否已经阅读, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :isready, :class => 'form-control input-xlarge input-with-feedback' %>
   
  </div>
</fieldset>
<% error = @massage.errors.include?(:isdelete) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :是否被对方删除, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :isdelete, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:massages, :index), :class => 'btn btn-default' %>
</div>