<% error = @desired_prodcut.errors.include?(:product_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :商品编号, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :product_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    
  </div>
</fieldset>
<% error = @desired_prodcut.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :用户名, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:desired_prodcuts, :index), :class => 'btn btn-default' %>
</div>