<% error = @website.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :创建者, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
  </div>
</fieldset>
<% error = @website.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :站点名, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
   
  </div>
</fieldset>
<% error = @website.errors.include?(:domain) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :域名, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :domain, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</fieldset>
<% error = @website.errors.include?(:description) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :站点简介, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :description, :class => 'form-control input-xlarge input-with-feedback' %>
    >
  </div>
</fieldset>
<% error = @website.errors.include?(:owner) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :拥有者, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :owner, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</fieldset>
<% error = @website.errors.include?(:level) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :代理等级, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :level, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:websites, :index), :class => 'btn btn-default' %>
</div>