<% error = @website.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :account_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:account_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @website.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @website.errors.include?(:domain) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :domain, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :domain, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:domain) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @website.errors.include?(:description) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :description, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :description, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:description) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @website.errors.include?(:owner) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :owner, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :owner, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:owner) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @website.errors.include?(:level) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :level, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :level, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:level) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:websites, :index), :class => 'btn btn-default' %>
</div>