<% error = @image_item.errors.include?(:product_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :所属商品, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :product_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    
  </div>
</fieldset>
<% error = @image_item.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :所属商家, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :account_id, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>
<% error = @image_item.errors.include?(:website_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :所属网站, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :website_id, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>
<% error = @image_item.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :图片名称, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>
<% error = @image_item.errors.include?(:url) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :上传图片, :class => 'control-label' %>
  <div class='controls'>
    <%= f.file_field :url, :class => 'form-control input-xlarge input-with-feedback' %>
    
  </div>
</fieldset>
<% error = @image_item.errors.include?(:iscover) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :是否为封面, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :iscover, :class => 'form-control input-xlarge input-with-feedback' %>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:image_items, :index), :class => 'btn btn-default' %>
</div>